$background-color: #282c34;
$gradient-start-color: #fdece1;
$gradient-end-color: #1a7d82;
$gradient: linear-gradient(
	to right bottom,
	$gradient-start-color,
	$gradient-end-color
);
$text-align: center;
$font-size: 40px;
$space: 20px;
$box-shadow: 0 20px 40px #333;

.container {
	background-color: $background-color;
	text-align: $text-align;
	padding: $space $space * 2;
	box-shadow: $box-shadow;
}

.heading {
	font-size: $font-size;
	background-image: $gradient;
	text-transform: uppercase;
	background-clip: text;
	color: transparent;
	margin: 0;
}